@font-face {
  font-family: 'theme-icon'
  src:  url('../fonts/theme-icon.eot?9je4w7')
  src:  url('../fonts/theme-icon.eot?9je4w7#iefix') format('embedded-opentype'),
    url('../fonts/theme-icon.ttf?9je4w7') format('truetype'),
    url('../fonts/theme-icon.woff?9je4w7') format('woff'),
    url('../fonts/theme-icon.svg?9je4w7#theme-icon') format('svg')
  font-weight: normal
  font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theme-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-paperplane:before {
  content: "\e903"
}
.icon-envelope:before {
  margin-right: 10px
  content: "\e902"
}
.icon-mail-reply:before {
  content: "\e900"
}
.icon-bubbles:before {
  margin-right: 30px
  content: "\e96c"
}
.icon-user-tie:before {
  margin-right: 30px
  content: "\e976"
}
.icon-fire:before {
  margin-right: 30px
  content: "\e9a9"
}
.icon-info:before {
  margin-right: 10px
  content: "\ea0c"
}
.icon-paragraph-justify:before {
  margin-right: 30px
  content: "\ea7a"
}
.icon-share2:before {
  margin-right: 30px
  content: "\ea82"
}
.icon-thumb-up:before {
  content: "\e901"
}


